# Classic_Recommendation_Models

In [1]:
# Load the data
import pandas as pd

data_path = 'C:/Users/taek5/Desktop/TG/RecommenderSystems/data/book_crossing/'

books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
users = pd.read_csv(data_path+'BX-Users-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False,encoding="latin-1", index_col = 0)
ratings = pd.read_csv(data_path+'BX-Book-Ratings-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)

C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:6: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:6: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv(data_path+'BX-Users-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False,encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:7: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv(data_path+'BX-Users-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False,encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:8: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv(data_path+'BX-Book-Ratings-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_19060\3587479969.py:8: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv(data_path+'BX-Book-Ratings-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)

In [2]:
# Filter books with at least min_book_ratings ratings
min_book_ratings = 10
book_ratings_counts = ratings['Book-Title'].value_counts()
filtered_books = book_ratings_counts[book_ratings_counts >= min_book_ratings].index
ratings = ratings[ratings['Book-Title'].isin(filtered_books)]

In [3]:
# Filter users with at least min_user_ratings books
min_user_ratings = 5
user_rating_counts = ratings['User-ID'].value_counts()
filtered_users = user_rating_counts[user_rating_counts >= min_user_ratings].index
ratings = ratings[ratings['User-ID'].isin(filtered_users)]
ratings

         User-ID  Book-Rating                          Book-Title
1           2313            5                Flesh Tones: A Novel
2           6543            0                Flesh Tones: A Novel
3           8680            5                Flesh Tones: A Novel
4          10314            9                Flesh Tones: A Novel
5          23768            0                Flesh Tones: A Novel
...          ...          ...                                 ...
1031125   276688            0                        Coyote Waits
1031126   276688            0                       Sacred Clowns
1031128   276688            0  Mrs. Pollifax and the Second Thief
1031131   276688            0                     Mostly Harmless
1031132   276688            7                         Gray Matter

[491897 rows x 3 columns]

In [4]:
# Create the user-item matrix
user_item_matrix = ratings.pivot_table(index = 'User-ID', columns = 'Book-Title', values = 'Book-Rating').fillna(0)

In [5]:
# Split user indices into train and test sets
import numpy as np
from sklearn.model_selection import train_test_split

user_indices = np.arange(user_item_matrix.shape[0])
train_user_indices, test_user_indices = train_test_split(user_indices, test_size = 0.001, random_state = 42)

In [6]:
def random_recommendation(ratings, n = 10):
    unique_books = ratings['Book-Title'].unique()
    random_books = np.random.choice(unique_books, size = n, replace = False)
    return random_books

random_books = random_recommendation(ratings, n = 10)
print('Random Score-Based Recommendations:')
for i,book in enumerate(random_books, 1):
    print(f"{i}. {book}")

Random Score-Based Recommendations:
1. Navy Blues
2. The Standoff
3. Forever After
4. Le Zebre
5. After Tex
6. FORREST GUMP (Movie Tie in)
7. The Caves of Steel
8. Junie B. Jones and the  Stupid Smelly Bus (Junie B. Jones 1, paper)
9. Dracula (World's Classics)
10. Shiloh and Other Stories

In [7]:
def popularity_recommendation(ratings, n = 10):
    popular_books = ratings.groupby('Book-Title')['Book-Title'].count().sort_values(ascending = False).head(n).index
    return popular_books

popular_books = popularity_recommendation(ratings, n = 10)
print("\nPopularity-Based Recommendations:")
for i, book in enumerate(popular_books, 1):
    print(f"{i}. {book}")

Popularity-Based Recommendations:
1. Wild Animus
2. The Lovely Bones: A Novel
3. The Da Vinci Code
4. The Nanny Diaries: A Novel
5. Bridget Jones's Diary
6. A Painted House
7. The Secret Life of Bees
8. Divine Secrets of the Ya-Ya Sisterhood: A Novel
9. Angels &amp; Demons
10. Life of Pi

## Association_Rules

In [8]:
# Load the data from the UCI Machine Learning Repository
import pandas as pd

data_path = 'C:/Users/taek5/Desktop/TG/RecommenderSystems/data/online_retail/'
online_retail_data = pd.read_excel(data_path + 'Online Retail.xlsx')

In [9]:
# Data preprocessing
online_retail_data['Description'] = online_retail_data['Description'].str.strip()
online_retail_data = online_retail_data.dropna(axis = 0, subset = ['InvoiceNo'])
online_retail_data['InvoiceNo'] = online_retail_data['InvoiceNo'].astype('str')
online_retail_data = online_retail_data[~online_retail_data['InvoiceNo'].str.contains('C')] # 취소

In [10]:
# Convert transaction data into a basker foramt
basket = (online_retail_data[online_retail_data['Country'] == 'United Kingdom']
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

# Convert the quantities into 0/1 (0: not in the basket, 1: in the basket)
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
    
basket_sets = basket.applymap(encode_units)

# Use the Apriori algorithm to find frequent itemsets
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(basket_sets, min_support = 0.03, use_colnames = True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1)

C:\Users\taek5\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [11]:
# Filter rules by a minimum lift and confidence
filtered_rules = rules[(rules['lift'] >= 3.0) & (rules['confidence'] >= 0.5)]

In [12]:
# Print the association rules
filtered_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

,antecedents,consequents,support,confidence,lift
0,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.030160,0.605376,12.900183
1,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.030160,0.642694,12.900183
2,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.030910,0.820768,16.403939
3,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.030910,0.617773,16.403939
4,(ROSES REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.037553,0.732497,14.639752
5,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER),0.037553,0.750535,14.639752
6,(JUMBO BAG BAROQUE BLACK WHITE),(JUMBO BAG RED RETROSPOT),0.030535,0.626374,6.033290
8,(JUMBO BAG PINK POLKADOT),(JUMBO BAG RED RETROSPOT),0.042053,0.677308,6.523895
10,(JUMBO SHOPPER VINTAGE RED PAISLEY),(JUMBO BAG RED RETROSPOT),0.035196,0.579876,5.585425
12,(JUMBO STORAGE BAG SUKI),(JUMBO BAG RED RETROSPOT),0.037392,0.617699,5.949737

## Contents Filtering

In [13]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Define the matrix
matrix = np.array([[1, 1, 1, 0],
                   [1, 0, 1, 1],
                   [1, 0, 0, 1],
                   [0, 1, 1, 0]])

# Calculate cosine similarity
similarity_matrix = cosine_similarity(matrix)

# Print the similarity matrix
print(similarity_matrix)

[[1.         0.66666667 0.40824829 0.81649658]
 [0.66666667 1.         0.81649658 0.40824829]
 [0.40824829 0.81649658 1.         0.        ]
 [0.81649658 0.40824829 0.         1.        ]]

### Bag of Words 예제

In [14]:
import pandas as pd
from collections import Counter

# Sample sentences
documents = [
    "I love watching movies",
    "I enjoy reading books",
    "I love reading and watching movies"
]

# Preprocess sentences: lower case and tokenize
tokenized_documents = [doc.lower().split() for doc in documents]
print(tokenized_documents)

print('\n')
# Calculate word frequencies for each document
word_frequencies = [Counter(doc) for doc in tokenized_documents]
print(word_frequencies)

print('\n')
# Create a DataFrame to display the results
bow_df = pd.DataFrame(word_frequencies, index = ['Document 1', 'Document 2', 'Document 3']).fillna(0)
print("Bag of Words representation:")
display(bow_df)

[['i', 'love', 'watching', 'movies'], ['i', 'enjoy', 'reading', 'books'], ['i', 'love', 'reading', 'and', 'watching', 'movies']]


[Counter({'i': 1, 'love': 1, 'watching': 1, 'movies': 1}), Counter({'i': 1, 'enjoy': 1, 'reading': 1, 'books': 1}), Counter({'i': 1, 'love': 1, 'reading': 1, 'and': 1, 'watching': 1, 'movies': 1})]


Bag of Words representation:

            i  love  watching  movies  enjoy  reading  books  and
Document 1  1   1.0       1.0     1.0    0.0      0.0    0.0  0.0
Document 2  1   0.0       0.0     0.0    1.0      1.0    1.0  0.0
Document 3  1   1.0       1.0     1.0    0.0      1.0    0.0  1.0

### TF-IDF 예제

In [15]:
from collections import Counter
import math

# Sample sentences
documents = [
    "I love watching movies",
    "I enjoy reading books",
    "I love reading and watching movies"
]

# Preprocess sentences: lower case and tokenize
tokenized_documents = [doc.lower().split() for doc in documents]
print("tokenized_documents:")
print(tokenized_documents)
print('\n')

# Calculate term frequency
def term_frequency(doc):
    term_count = Counter(doc)
    
    total_terms = len(doc)
    return {term: count / total_terms for term, count in term_count.items()}

tf_values = [term_frequency(doc) for doc in tokenized_documents]
print(tf_values)
print('\n')

tf_df = pd.DataFrame(tf_values, index = ["Document 1", "Document 2", "Document 3"]).fillna(0)
print("Term Frequencies DataFrame:")
display(tf_df)
print('\n')

# Calculate inverse document frequency
def inverse_document_frequency(docs):
    total_docs = len(docs)
    
    unique_terms = set(term for doc in docs for term in doc)
    
    term_doc_counts = {term: sum(1 for doc in docs if term in doc) for term in unique_terms}
    
    return {term: math.log(total_docs / count) for term, count in term_doc_counts.items()}

idf_values = inverse_document_frequency(tokenized_documents)
idf_df = pd.DataFrame([idf_values], index = ['IDF'])
print("Inverse Document Frequencies DataFrame:")
display(idf_df)
print('\n')

# Calculate TF-IDF
def tf_idf(tf, idf):
    return {term: tf_val * idf[term] for term, tf_val in tf.items()}

tf_idf_values = [tf_idf(tf, idf_values) for tf in tf_values]
print("TF-IDF Values:")
display(tf_idf_values)

tokenized_documents:
[['i', 'love', 'watching', 'movies'], ['i', 'enjoy', 'reading', 'books'], ['i', 'love', 'reading', 'and', 'watching', 'movies']]


[{'i': 0.25, 'love': 0.25, 'watching': 0.25, 'movies': 0.25}, {'i': 0.25, 'enjoy': 0.25, 'reading': 0.25, 'books': 0.25}, {'i': 0.16666666666666666, 'love': 0.16666666666666666, 'reading': 0.16666666666666666, 'and': 0.16666666666666666, 'watching': 0.16666666666666666, 'movies': 0.16666666666666666}]


Term Frequencies DataFrame:

,i,love,watching,movies,enjoy,reading,books,and
Document 1,0.250000,0.250000,0.250000,0.250000,0.00,0.000000,0.00,0.000000
Document 2,0.250000,0.000000,0.000000,0.000000,0.25,0.250000,0.25,0.000000
Document 3,0.166667,0.166667,0.166667,0.166667,0.00,0.166667,0.00,0.166667

Inverse Document Frequencies DataFrame:

     watching     enjoy   reading    i    movies      love     books       and
IDF  0.405465  1.098612  0.405465  0.0  0.405465  0.405465  1.098612  1.098612

TF-IDF Values:

[{'i': 0.0,
  'love': 0.1013662770270411,
  'watching': 0.1013662770270411,
  'movies': 0.1013662770270411},
 {'i': 0.0,
  'enjoy': 0.27465307216702745,
  'reading': 0.1013662770270411,
  'books': 0.27465307216702745},
 {'i': 0.0,
  'love': 0.06757751801802739,
  'reading': 0.06757751801802739,
  'and': 0.1831020481113516,
  'watching': 0.06757751801802739,
  'movies': 0.06757751801802739}]

# ML_Based_Recommendation

## Matrix_Factorization

In [40]:
# Load the data from the UCI Machine Learning Repository
import pandas as pd

data_path = 'C:/Users/taek5/Desktop/TG/RecommenderSystems/data/online_retail/'
online_retail_data = pd.read_excel(data_path + 'Online Retail.xlsx')

In [41]:
# Data preprocessing
online_retail_data['CustomerID'] = online_retail_data['CustomerID'].astype('category')
online_retail_data['StockCode'] = online_retail_data['StockCode'].astype('category')

In [42]:
# 피벗 테이블 만들기 -> 너무 적은 인터렉션을 갖는 유저/아이템은 배제
interaction_counts = online_retail_data.groupby('CustomerID')['StockCode'].count()
online_retail_data = online_retail_data[online_retail_data['CustomerID'].isin(interaction_counts[interaction_counts > 10].index)]

item_counts = online_retail_data['StockCode'].value_counts()
online_retail_data = online_retail_data[online_retail_data['StockCode'].isin(item_counts[item_counts > 10].index)]

pivot = online_retail_data.pivot_table(index = 'CustomerID', columns = 'StockCode', fill_value = 0, aggfunc = 'size')

In [45]:
# implicit data로 변경
pivot = (pivot > 0).astype(int)

In [82]:
import numpy as np

# train/tset split
test_ratio = 0.2
train = pivot.copy()
test = np.zeros(pivot.shape)

for user in range(pivot.shape[0]):
    test_interactions = np.random.choice(pivot.values[user, :].nonzero()[0],
                                         size = int(test_ratio * np.sum(pivot.values[user, :])),
                                         replace = False)
    train.values[user, test_interactions] = 0.
    test[user, test_interactions] = pivot.values[user, test_interactions]

In [83]:
from scipy.sparse import coo_matrix

# Convert train and test matrix into sparse matrix
train_csr = coo_matrix(train.values)
test_csr = coo_matrix(test)

In [84]:
n_latent_factors = 20

### SVD

In [113]:
from sklearn.decomposition import TruncatedSVD

# using sklearn Truncated SVD
svd = TruncatedSVD(n_components = n_latent_factors, random_state = 42)
train_svd = svd.fit_transform(train_csr)
svd_pred1 = svd.inverse_transform(svd.transform(test_csr))

In [114]:
from scipy.sparse.linalg import svds

# using svds from scipy
u, sigma, vt = svds(train_csr.astype(float), n_latent_factors)
svd_pred2 = np.dot(u, np.dot(np.diag(sigma), vt))

In [115]:
print(f'shapes of the matrices: {u.shape, sigma.shape, vt.shape}')

shapes of the matrices: ((4372, 20), (20,), (20, 4070))

In [117]:
# Make sure the predicted scores are in the range [0, 1]
predicted_svd1 = (svd_pred1 - svd_pred1.min()) / (svd_pred1.max() - svd_pred1.min())
predicted_svd2 = (svd_pred2 - svd_pred2.min()) / (svd_pred2.max() - svd_pred2.min())

In [121]:
from sklearn.metrics import mean_squared_error

# Calculate RMSE for SVD
svd_rmse1 = np.sqrt(mean_squared_error(test_csr.toarray(), predicted_svd1))
svd_rmse2 = np.sqrt(mean_squared_error(test_csr.toarray(), predicted_svd2))
print('Truncated SVD RMSE: ', svd_rmse1)
print('SCIPY SVD RMSE: ', svd_rmse2)

Truncated SVD RMSE:  0.16005063109387835
SCIPY SVD RMSE:  0.4059451887511608

### NMF

In [111]:
from sklearn.decomposition import NMF

model = NMF(n_components = n_latent_factors, init = 'random', random_state = 0)

W = model.fit_transform(train_csr)
H = model.components_
nmf_pred = np.dot(W, H)

In [122]:
# Make sure the predicted scores are in the range [0, 1]
predicted_nmf = (nmf_pred - nmf_pred.min()) / (nmf_pred.max() - nmf_pred.min())

In [123]:
# Calculate RMSE for NMF
nmf_rmse = np.sqrt(mean_squared_error(test_csr.toarray(), predicted_nmf))
print('NMF RMSE: ', nmf_rmse)

NMF RMSE:  0.053694958342476236

### ALS

In [124]:
# ALS class 정의

class ALS:
    # 하이퍼 파라미터 지정
    def __init__(self, factors=10, iterations=20, reg=0.01):
        self.factors = factors
        self.iterations = iterations
        self.reg = reg
    # 모델 적합 -> 평점 행렬 입력
    def fit(self, ratings):
        # 랜덤으로 user 수 * latent factor 형태의 행렬 생성
        self.user_factors = np.random.random((ratings.shape[0], self.factors))
        # 랜덤으로 item 수 * latent factor 형태의 행렬 생성
        self.item_factors = np.random.random((ratings.shape[1], self.factors))
        
        # 사전에 지정한 iteration 수에 걸쳐서, 교차로 als_step 진행
        for _ in range(self.iterations):
            # user_factors 먼저 업데이트 
            self.user_factors = self.als_step(ratings, self.user_factors, self.item_factors)
            # 이어서 item_factors 업데이트
            self.item_factors = self.als_step(ratings.T, self.item_factors, self.user_factors)
    
    # 교차로 업데이트하는 스텝 메서드
    def als_step(self, ratings, solve_vecs, fixed_vecs):
        # normal equation - 업데이트 되지 않을 user/item feature의 공분산 matrix
        # feature가 주어진(고정된) 상태에서 최적의 해를 찾아 그 행렬을 새로운 factors로 사용
        # 가령, user_factors가 고정되어 있을 때는 최적의 item_factors를 구하고, 반대도 마찬가지
        A = fixed_vecs.T.dot(fixed_vecs) + np.eye(self.factors) * self.reg
        b = ratings.dot(fixed_vecs)
        A_inv = np.linalg.inv(A)
        solve_vecs = b.dot(A_inv)
        return solve_vecs

    def predict(self):
        pred = self.user_factors.dot(self.item_factors.T)
        return pred

In [126]:
# train ALS model
als = ALS(factors = n_latent_factors, iterations = 100, reg = 0.01)
als.fit(train_csr)

# predict
als_pred = als.predict()

In [127]:
# Make sure the predicted scores are in the range [0, 1]
predicted_als = (als_pred - als_pred.min()) / (als_pred.max() - als_pred.min())

In [128]:
# Calculate RMSE for ALS
als_rmse = np.sqrt(mean_squared_error(test_csr.toarray(), predicted_als))
print('ALS RMSE: ', als_rmse)

ALS RMSE:  0.37238415159097327