# Classic_Recommendation_Models

In [1]:
# Load the data
import pandas as pd

data_path = 'C:/Users/taek5/Desktop/TG/RecommenderSystems/data/book_crossing/'

books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
users = pd.read_csv(data_path+'BX-Users-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False,encoding="latin-1", index_col = 0)
ratings = pd.read_csv(data_path+'BX-Book-Ratings-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)

C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:6: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:6: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(data_path+'BX-Books-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv(data_path+'BX-Users-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False,encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:7: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv(data_path+'BX-Users-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False,encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:8: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv(data_path+'BX-Book-Ratings-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)
C:\Users\taek5\AppData\Local\Temp\ipykernel_12824\3587479969.py:8: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv(data_path+'BX-Book-Ratings-comma-sep.csv', sep=',', error_bad_lines=False, warn_bad_lines=False, encoding="latin-1", index_col = 0)

In [2]:
# Filter books with at least min_book_ratings ratings
min_book_ratings = 10
book_ratings_counts = ratings['Book-Title'].value_counts()
filtered_books = book_ratings_counts[book_ratings_counts >= min_book_ratings].index
ratings = ratings[ratings['Book-Title'].isin(filtered_books)]

In [3]:
# Filter users with at least min_user_ratings books
min_user_ratings = 5
user_rating_counts = ratings['User-ID'].value_counts()
filtered_users = user_rating_counts[user_rating_counts >= min_user_ratings].index
ratings = ratings[ratings['User-ID'].isin(filtered_users)]
ratings

         User-ID  Book-Rating                          Book-Title
1           2313            5                Flesh Tones: A Novel
2           6543            0                Flesh Tones: A Novel
3           8680            5                Flesh Tones: A Novel
4          10314            9                Flesh Tones: A Novel
5          23768            0                Flesh Tones: A Novel
...          ...          ...                                 ...
1031125   276688            0                        Coyote Waits
1031126   276688            0                       Sacred Clowns
1031128   276688            0  Mrs. Pollifax and the Second Thief
1031131   276688            0                     Mostly Harmless
1031132   276688            7                         Gray Matter

[491897 rows x 3 columns]

In [4]:
# Create the user-item matrix
user_item_matrix = ratings.pivot_table(index = 'User-ID', columns = 'Book-Title', values = 'Book-Rating').fillna(0)

In [13]:
# Split user indices into train and test sets
import numpy as np
from sklearn.model_selection import train_test_split

user_indices = np.arange(user_item_matrix.shape[0])
train_user_indices, test_user_indices = train_test_split(user_indices, test_size = 0.001, random_state = 42)

In [15]:
def random_recommendation(ratings, n = 10):
    unique_books = ratings['Book-Title'].unique()
    random_books = np.random.choice(unique_books, size = n, replace = False)
    return random_books

random_books = random_recommendation(ratings, n = 10)
print('Random Score-Based Recommendations:')
for i,book in enumerate(random_books, 1):
    print(f"{i}. {book}")

Random Score-Based Recommendations:
1. Das Versprechen. Requiem auf den Kriminalroman.
2. The Delaney Woman
3. In God We Trust: All Others Pay Cash
4. Secrets of the Night
5. Venus Envy
6. The Bishop and the Three Kings: A Blackie Ryan Mystery (Blackie Ryan Novels)
7. The Discworld Mapp
8. The Red Scream
9. Q
10. Hullabaloo in the Guava Orchard

In [16]:
def popularity_recommendation(ratings, n = 10):
    popular_books = ratings.groupby('Book-Title')['Book-Title'].count().sort_values(ascending = False).head(n).index
    return popular_books

popular_books = popularity_recommendation(ratings, n = 10)
print("\nPopularity-Based Recommendations:")
for i, book in enumerate(popular_books, 1):
    print(f"{i}. {book}")

Popularity-Based Recommendations:
1. Wild Animus
2. The Lovely Bones: A Novel
3. The Da Vinci Code
4. The Nanny Diaries: A Novel
5. Bridget Jones's Diary
6. A Painted House
7. The Secret Life of Bees
8. Divine Secrets of the Ya-Ya Sisterhood: A Novel
9. Angels &amp; Demons
10. Life of Pi

## Association_Rules

In [72]:
# Load the data from the UCI Machine Learning Repository
import pandas as pd

data_path = 'C:/Users/taek5/Desktop/TG/RecommenderSystems/data/online_retail/'
online_retail_data = pd.read_excel(data_path + 'Online Retail.xlsx')

In [73]:
# Data preprocessing
online_retail_data['Description'] = online_retail_data['Description'].str.strip()
online_retail_data = online_retail_data.dropna(axis = 0, subset = ['InvoiceNo'])
online_retail_data['InvoiceNo'] = online_retail_data['InvoiceNo'].astype('str')
online_retail_data = online_retail_data[~online_retail_data['InvoiceNo'].str.contains('C')] # 취소

In [57]:
# Convert transaction data into a basker foramt
basket = (online_retail_data[online_retail_data['Country'] == 'United Kingdom']
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

# Convert the quantities into 0/1 (0: not in the basket, 1: in the basket)
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
    
basket_sets = basket.applymap(encode_units)

# Use the Apriori algorithm to find frequent itemsets
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(basket_sets, min_support = 0.03, use_colnames = True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1)

C:\Users\taek5\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [63]:
# Filter rules by a minimum lift and confidence
filtered_rules = rules[(rules['lift'] >= 3.0) & (rules['confidence'] >= 0.5)]

In [65]:
# Print the association rules
filtered_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

,antecedents,consequents,support,confidence,lift
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.030160,0.642694,12.900183
1,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.030160,0.605376,12.900183
2,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.030910,0.617773,16.403939
3,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.030910,0.820768,16.403939
4,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER),0.037553,0.750535,14.639752
5,(ROSES REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.037553,0.732497,14.639752
6,(JUMBO BAG BAROQUE BLACK WHITE),(JUMBO BAG RED RETROSPOT),0.030535,0.626374,6.033290
8,(JUMBO BAG PINK POLKADOT),(JUMBO BAG RED RETROSPOT),0.042053,0.677308,6.523895
10,(JUMBO SHOPPER VINTAGE RED PAISLEY),(JUMBO BAG RED RETROSPOT),0.035196,0.579876,5.585425
13,(JUMBO STORAGE BAG SUKI),(JUMBO BAG RED RETROSPOT),0.037392,0.617699,5.949737